.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  font-size: 69px;
  line-height: 0px;
}

h2 {
  font-size: 30px;
}

.appContainerDoNotTouch {
}

.buttMenu {
  position: fixed;
  top: 40px;
  right: 50px;
}

.buttEscape {
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
  row-gap: 30px;
}

.headTitle {
  position: fixed;
  left: 20px;
  top: 10px;
  /* transform: translate(-50%,-50%); */
  color: white;
}

.headLogo {
  position: fixed;
  left: 50vw;
  top: -25px;
  transform: translate(-50%, 0);
}

.headSpace {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  height: 250px;
  display: block;
  text-align: center;
}

.headBack {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 150px;
  background: black;
}
