.navBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 150px;
}
.navButtonBox {
  width: 69px;
  height: 69px;
  background-size: contain;
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/c23eacf8-e366-4118-ab5c-5a1255842a75/de44dio-c44bc257-f323-4270-8985-9d001473ccbd.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvYzIzZWFjZjgtZTM2Ni00MTE4LWFiNWMtNWExMjU1ODQyYTc1XC9kZTQ0ZGlvLWM0NGJjMjU3LWYzMjMtNDI3MC04OTg1LTlkMDAxNDczY2NiZC5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.7d4Fg-kB1tH2DqZqm-Al4OCChqvWwMPDXB-T064CMso");
}

.navFlex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding-left: 50px;
}
