.container {
  text-align: center;
  height: 125px;
}

.pokeContainerDoNotTouch {
  width: 169px;
  height: 169px;
}

.hidden {
  display: none;
}

.pokeBox {
  transform: translate(0px, 3vw);
}

.pokedexContainer {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.pokedex {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -42%);
  /*  */
  width: 64vw;
  height: 69vh;
  min-height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /*  */
  color: white;
  background: black;
  z-index: 100;
}

.pokeExit {
  position: absolute;
  top: 3.33vw;
  right: 3vw;
  /* transform: translate(-50%, -50%); */
  /*  */
  width: 69px;
  height: 69px;
  background: rgb(0, 0, 0);
  color: white;
  font-size: 36px;
  border: none;
}

.pokeImg {
  height: 300px;
  max-height: 30vh;
}

.pokeName {
  position: absolute;
  top: 2vw;
}

.pokeNum {
  position: absolute;
  top: 2vw;
  left: 3vw;
}

.pokeTitle {
  transform: translate(0px, 120px);
}

.statFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50vw;
}

.stat {
  margin-left: 20px;
  margin-right: 20px;
}

@media only screen and (max-height: 690px) {
  .pokeImg {
    display: none;
  }
}
